@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --theme-yello-color: #ffa920;
}
/* Global Loading Start */
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Global Loading End */

/* Utils CSS Start */
.overflowedTextFixer {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.relative {
  position: relative;
}
.form-control:focus {
  box-shadow: none !important;
  border: 1px solid var(--theme-yello-color);
  border-color: var(--theme-yello-color) !important;
}

.section-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0.5rem;
}

.section-title h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.section-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.section-sub-title h5 {
  font-weight: 400;
  font-size: 0.8rem;
}

.property-list {
  margin-top: 1.5rem;
}

.property-list a {
  text-decoration: none;
}

.property-list .card {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.0784313725);
  padding: 17px 17px 16px 17px;
  border: none;
  border-radius: 16px;
}

.property-list .card .image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem;
}

.property-list .card .title h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.property-list .card .location {
  display: flex;
  align-items: center;
}

.property-list .card .location h5 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.property-list .card .location .icon {
  color: #353232;
  margin-bottom: 0.35rem;
}

.property-list .card .price h3 {
  color: var(--theme-yello-color);
  font-weight: 700;
  font-size: 1rem;
}

.property-list .card .features {
  border-top: 1px solid #ddd;
}

.property-list .card .features ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.property-list .card .features ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.property-list .card .features ul li p {
  margin-bottom: 0;
}

/* Utils CSS End */

/* Swiper CSS Start */
.swiper {
  overflow: visible !important;
}
.swiper-pagination {
  top: 24rem !important;
}
.swiper-pagination-bullet-active {
  background: var(--theme-yello-color) !important;
}
.swiper-button-next {
  top: 24rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  margin-top: 0 !important;
  background: var(--theme-yello-color) !important;
  color: #fff !important;
  padding: 0.5rem !important;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
.swiper-button-next:after {
  font-size: 1.2rem !important;
  font-weight: bold;
}
.swiper-button-prev {
  top: 24rem !important;
  width: 2.5rem !important;
  height: 2.5rem !important;
  margin-top: 0 !important;
  background: var(--theme-yello-color) !important;
  color: #fff !important;
  padding: 0.5rem !important;
  border-radius: 50%;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
.swiper-button-prev:after {
  font-size: 1.2rem !important;
  font-weight: bold;
}

/* Swiper CSS End */

/* Load More CSS Start */
.paging-area {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 1rem 0;
}
.next-button {
  background: var(--theme-yello-color);
  border: none;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem 0.8rem;
  transition: 0.5s all;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.next-button:hover {
  transform: scale(0.9);
}

/* Load More CSS End */

/* Loading CSS Start */
.home-loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-loading img {
  height: 180px;
  width: 320px;
}
/* Loading CSS End */

/* Header CSS Start */
.sidebar-menu{
  display: none;
}



.header-area {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.header-area .logo {
  padding: 0.8rem 1rem;
}

.header-area .nav-area {
  display: flex;
  margin-bottom: 0;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header-area .nav-area li {
  list-style: none;
  padding: 1.5rem 2rem;
}

.header-area .nav-area li a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
}

.header-area .auth-area {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-area .auth-area .custom-btn {
  background: var(--theme-yello-color);
  border: none;
  padding: 0.5rem 0.8rem;
}

.header-area .auth-area .custom-btn:active {
  background: var(--theme-yello-color);
  border: none;
}

/* Header CSS End */

/* Home Page CSS Start */
.home-banner-section {
  position: relative;
  padding: 2rem 0;
  height: 100vh;
  overflow: hidden;
}

.home-banner-section .banner-image img {
  width: 100%;
  height: 95vh;
}

.home-banner-section .banner-content {
  position: absolute;
  top: 35%;
  left: 2%;
}

.home-banner-section .banner-content .title {
  width: 76%;
}

.home-banner-section .banner-content .title h1 {
  font-size: 3.5rem;
  font-weight: 700;
}

.home-banner-section .banner-content .sub-title {
  width: 60%;
}

.home-banner-section .banner-content .sub-title p {
  font-size: 0.9rem;
}

.home-banner-section .search-property-form {
  background-color: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
  z-index: 5;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.home-banner-section .search-property-form form {
  height: 36px;
}

.home-banner-section .search-property-form .custom-btn {
  background: var(--theme-yello-color);
  border: none;
  width: 100%;
  height: 38px;
  font-size: 1.1rem;
  font-weight: 500;
  padding: 0.5rem 0.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-banner-section .search-property-form .custom-btn span {
  font-size: 1.2rem;
}

.home-banner-section .search-property-form .custom-btn:active {
  background: var(--theme-yello-color);
  border: none;
}

.home-banner-section .search-property-form .form-control {
  border-radius: 0;
}

.home-banner-section .search-property-form .form-control:focus {
  box-shadow: none;
  border: 1px solid var(--theme-yello-color);
}

.home-banner-section .banner-side-image img {
  position: absolute;
  top: 7rem;
  right: 1rem;
  width: 650px;
  height: 590px;
}

.trending-properties-section {
  padding: 2rem 1rem 4rem 1rem;
}

.trending-properties-section .property-filter-tabs {
  margin-top: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.trending-properties-section .property-filter-tabs ul li {
  padding: 0.4rem 0.8rem;
  font-size: 0.8rem;
  list-style: none;
  margin: 0 1rem;
  box-shadow: 0px 4px 18px 0px rgba(66, 71, 76, 0.1019607843);
  cursor: pointer;
}

.trending-properties-section .property-filter-tabs ul li.active {
  color: var(--theme-yello-color);
  font-weight: 500;
}

.trending-properties-section .property-list {
  margin-top: 1.5rem;
}

.trending-properties-section .property-list .card {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.0784313725);
  padding: 17px 17px 16px 17px;
  border: none;
  border-radius: 16px;
}

.trending-properties-section .property-list .card .image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem;
}

.trending-properties-section .property-list .card .title h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.trending-properties-section .property-list .card .location {
  display: flex;
  align-items: center;
}

.trending-properties-section .property-list .card .location h5 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.trending-properties-section .property-list .card .location .icon {
  color: #353232;
  margin-bottom: 0.35rem;
}

.trending-properties-section .property-list .card .price h3 {
  color: var(--theme-yello-color);
  font-weight: 700;
  font-size: 1rem;
}

.trending-properties-section .property-list .card .features {
  border-top: 1px solid #ddd;
}

.trending-properties-section .property-list .card .features ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.trending-properties-section .property-list .card .features ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.trending-properties-section .property-list .card .features ul li p {
  margin-bottom: 0;
}

.top-localities-section {
  padding-bottom: 2rem;
}

.top-localities-section .localities-box .col-lg-3 {
  padding: 0;
  margin: 0;
}

.top-localities-section .localities-box .city {
  position: relative;
}

.top-localities-section .localities-box .image {
  position: relative;
}

.top-localities-section .localities-box .image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out 0s;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 53.85%, #000000 100%);
  z-index: 1;
  opacity: 0.8;
}

.top-localities-section .localities-box .image img {
  width: 100%;
  height: 200px;
}

.top-localities-section .localities-box .content {
  position: absolute;
  top: 9rem;
  left: 1rem;
  z-index: 20;
}

.top-localities-section .localities-box .content h4 {
  font-size: 1.1rem;
  font-weight: 400;
}

.top-localities-section .localities-box .content h5 {
  font-size: 0.9rem;
  font-weight: 500;
}

/* Home Page CSS End */

/* Footer CSS Start */
.footer {
  padding: 3rem 2rem 1rem 2rem;
  background: #1c1c1e;
  position: relative;
  color: #fff;
}

.footer .footer-header {
  width: 80%;
  margin: auto;
}

.footer .footer-highlither-box {
  position: relative;
  background-color: #fff5e0;
  border-radius: 12px;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .footer-highlither-box .content h1 {
  color: #000;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer .footer-highlither-box .content h5 {
  color: #000;
  font-size: 0.95rem;
  margin-bottom: 0;
}

.footer .footer-highlither-box .content .custom-btn {
  background: var(--theme-yello-color);
  border: none;
  padding: 0.4rem 1rem;
  position: absolute;
  top: 8rem;
  left: 35%;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.footer .footer-highlither-box .content .custom-btn span {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.footer .footer-highlither-box .content .custom-btn:active {
  background: var(--theme-yello-color);
  border: none;
}

.footer .footer-bar {
  margin-top: 6rem;
  padding: 0 2rem;
}

.footer .logo-desc-area .image {
  background: #fff;
  padding: 0.5rem;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer .logo-desc-area .image img {
  width: 90%;
  height: 70px;
}

.footer .logo-desc-area p {
  margin-bottom: 0;
  line-height: 2;
}

.footer .address-info {
  padding-left: 3rem;
}

.footer .link-area .title {
  margin-bottom: 2rem;
}

.footer .link-area .title h3 {
  font-size: 1.4rem;
  position: relative;
  display: inline;
}

.footer .link-area .title h3::after {
  content: "";
  background: var(--theme-yello-color);
  height: 0.15rem;
  display: block;
  position: absolute;
  width: 100%;
  top: 2.2rem;
}

.footer .link-area .info:not(:last-child) {
  margin-bottom: 1rem;
}

.footer .link-area .info h5 {
  color: #8e8e93;
  font-size: 1rem;
}

.footer .link-area .info p {
  margin-bottom: 0;
  font-size: 0.9rem;
}

.footer .link-area .links h5 {
  font-size: 1rem;
}

.footer .link-area .links h5:not(:last-child) {
  margin-bottom: 1.5rem;
}

.footer .link-area .contact-no {
  display: flex;
}

.footer .link-area .contact-no p {
  font-size: 1rem;
}

.footer .footer-bottom {
  padding: 2rem 2rem 0 2rem;
  display: flex;
  justify-content: space-between;
}

.footer .footer-bottom .copyright p span {
  color: var(--theme-yello-color);
  font-weight: 600;
}

.footer .social-media-icons {
  display: flex;
  padding-right: 10rem;
}

.footer .social-media-icons .icon {
  width: 2rem;
  height: 2rem;
  background: #fff;
  color: var(--theme-yello-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.footer .social-media-icons .icon:not(:last-child) {
  margin-right: 1rem;
}

/* Footer CSS End */

/* Properties Page CSS Start */
.page-section {
  padding: 5rem 0 0 0;
}

.properties-page .filter {
  background: #e8e8e8;
  padding: 1rem 2rem;
  margin: 1rem 0 2rem 0;
}

.properties-page .filter .custom-btn {
  background: var(--theme-yello-color);
  border: none;
  padding: 0.5rem 0.8rem;
}

.properties-page .filter .custom-btn:active {
  background: var(--theme-yello-color);
  border: none;
}

.properties-page .filter .search-btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Properties Page CSS End */

/* Property Details Page Start */
.property-detail-page {
  padding: 6rem 1rem 1rem 1rem;
}

.property-detail-page .property-name-location-price {
  margin-bottom: 2rem;
}

.property-detail-page .property-name-location-price .name h1 {
  font-size: 1.6rem;
  font-weight: 700;
}

.property-detail-page .property-name-location-price .location {
  display: flex;
  align-items: center;
}

.property-detail-page .property-name-location-price .location h5 {
  font-size: 0.9rem;
  margin-bottom: 0;
}

.property-detail-page .property-name-location-price .price p {
  font-size: 2rem;
  font-weight: bold;
}

.property-detail-page .property-images-detail .image img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 1rem;
}

.property-detail-page .property-images-detail .property-details h5 {
  font-weight: 600;
  display: inline-block;
}

.property-detail-page .property-images-detail .property-details h5::after {
  content: "";
  background: var(--theme-yello-color);
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  top: 1.8rem;
}

.property-detail-page .property-images-detail .property-details .info {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.property-detail-page .property-images-detail .property-details .info .detail {
  padding: 0.2rem;
  margin-right: 2rem;
  display: flex;
}

.property-detail-page
  .property-images-detail
  .property-details
  .info
  .detail
  .icon {
  border: 1px solid var(--theme-yello-color);
  padding: 0.3rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
}

.property-detail-page
  .property-images-detail
  .property-details
  .info
  .detail
  .title {
  font-weight: 500;
  font-size: 0.9rem;
}

.property-images-detail .property-details-overview p {
  margin-bottom: 0;
}

.property-images-detail .property-details-overview .propert-details {
  display: flex;
  margin-top: 0.8rem;
}

.property-images-detail .property-details-overview .propert-details p {
  font-size: 1rem;
}
.property-images-detail
  .property-details-overview
  .propert-details
  p.amenities {
  font-weight: 600;
}

.property-images-detail .property-details-overview .propert-details .title {
  width: 25%;
  font-weight: 600;
}
.property-images-detail
  .property-details-overview
  .propert-details
  .description {
  width: 75%;
}

.property-detail-page .more-details {
  border-top: 4px solid var(--theme-yello-color);
  margin-top: 2rem;
  padding: 1rem 0;
}

.property-detail-page .more-details .seller-info {
  border: 1px solid #f0f0f0;
  padding: 2rem;
  background: #fafafa;
}

.property-detail-page .more-details .seller-info .title h5 {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  font-weight: 600;
}

.property-detail-page .more-details .avatar-info .image img {
  height: 4.5rem;
  width: 4.5rem;
  border-radius: 50%;
}

.property-detail-page .more-details .avatar-info .info p {
  margin-bottom: 0.2rem;
  font-size: 0.9rem;
}

.property-detail-page .more-details .avatar-info .info p.contact {
  font-weight: 700;
}
.property-detail-page .more-details .seller-form {
  margin-top: 2rem;
}

.property-detail-page .more-details .seller-form .form-control {
  padding: 0.8rem;
  margin-bottom: 1rem;
}

.property-detail-page .more-details .seller-form .custom-btn {
  background: var(--theme-yello-color);
  border: none;
  padding: 0.7rem 0.8rem;
  font-weight: 500;
}

.property-detail-page .more-details .seller-form .custom-btn:active {
  background: var(--theme-yello-color);
  border: none;
}

.property-detail-page .more-details .seller-form .email-btn {
  background: #fff5e0;
  border: 1px solid var(--theme-yello-color);
  color: #000;
  padding: 0.7rem 0.8rem;
  font-weight: 500;
}

.property-detail-page .more-details .seller-form .email-btn:active {
  background: #fff5e0;
  border: 1px solid var(--theme-yello-color);
  color: #000;
}
.property-detail-page .more-details-property {
  border: 1px solid #f0f0f0;
  padding: 2rem;
  background: #fafafa;
}
.property-detail-page .more-details-property h5 {
  display: inline-block;
  font-weight: 600;
}
.property-detail-page .more-details-property h5::after {
  content: "";
  background: var(--theme-yello-color);
  height: 2px;
  display: block;
  position: absolute;
  width: 100%;
  top: 1.8rem;
}
.property-detail-page .more-details-property p {
  padding-top: 1rem;
  font-size: 1rem;
  margin-bottom: 0;
}

.property-detail-page .more-details-property .info-other {
  margin-top: 2rem;
}
.property-detail-page .more-details-property .info-other .icon-titles {
  display: flex;
}

.property-detail-page .more-details-property .info-other .icon-titles .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8rem;
  color: #5f5c5c;
}

.property-detail-page .more-details-property .info-other p {
  margin-bottom: 0;
  font-weight: 500;
  padding-top: 0;
}

/* Property Details Page End */

/* About Page Start */
.about-page {
  background: #fff9ec;
}
.about-page .about-top-section {
  background: #fff9ec;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.about-page .about-image img {
  height: 600px;
  width: 100%;
}
.about-page .founder-image {
  position: absolute;
}
.about-page .founder-image {
  position: absolute;
  top: 19rem;
  left: 22rem;
  width: 240px;
  height: 270px;
  border-radius: 1rem;
  border: 4px solid #fff;
  overflow: hidden;
}

.about-page .founder-image::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transition: all 0.4s ease-out 0s;
  z-index: 1;
  opacity: 0.8;
  background: linear-gradient(
    179.13deg,
    rgba(217, 217, 217, 0) -20.13%,
    rgba(217, 217, 217, 0.39) -20.12%,
    #000000b8 99.26%
  );
}

.about-page .founder-image img {
  width: 240px;
  height: 270px;
  transition: 0.5s all;
}

.about-page .founder-image:hover img {
  transform: scale(1.1);
}

.about-page .founder-image .name {
  position: absolute;
  top: 10rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about-page .founder-image .name h1 {
  color: #fff;
  z-index: 10;
  font-size: 1.5rem;
  font-weight: 700;
}
.about-page .founder-image .name h4 {
  color: #fff;
  z-index: 10;
  font-size: 1.2rem;
}
.about-page .right-area {
  padding: 0 0 0 6rem;
}

.about-page .right-area .title h1 {
  font-size: 1.5rem;
}
.about-page .right-area .sub-title {
  padding: 1rem 0;
}
.about-page .right-area .sub-title h5 {
  font-size: 3rem;
  font-weight: 700;
}
.about-page .right-area .description {
  padding-bottom: 1rem;
}
.about-page .right-area .description p {
  font-size: 0.9rem;
  line-height: 1.8;
}

.about-page .right-area .sub-description p {
  font-size: 0.9rem;
  line-height: 1.8;
}

.about-page .our-customer-agents-area {
  display: flex;
  justify-content: space-between;
}

.about-page .our-customer-agents-area .icon {
  background-color: var(--theme-yello-color);
  height: 3rem;
  width: 3rem;
  font-size: 1.8rem;
  padding: 0.5rem;
  border-radius: 50%;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.about-page .our-customer-agents-area .child {
  padding: 1rem;
  border-radius: 1rem;
  border-bottom: 3px solid var(--theme-yello-color);
}

.about-page .our-customer-agents-area .child .title h3 {
  font-size: 1.3rem;
  margin-bottom: 0;
  font-weight: 700;
}
.about-page .our-customer-agents-area .child .sub-title {
  padding: 0.5rem 0;
}
.about-page .our-customer-agents-area .child .sub-title h5 {
  font-size: 1rem;
  font-weight: 500;
}

.about-page .why-choose-us-section {
  background: #fff;
  padding: 2rem;
}

.about-page .why-choose-us-card {
  padding-top: 1rem;
}

.about-page .why-choose-us-card .card {
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-page .why-choose-us-card .card .icon {
  font-size: 4rem;
  color: var(--theme-yello-color);
}
.about-page .why-choose-us-card .card .title {
  padding-bottom: 1rem;
}
.about-page .why-choose-us-card .card .title h1 {
  font-size: 0.95rem;
  font-weight: 700;
  text-align: center;
}
.about-page .why-choose-us-card .card .image img {
  width: 100%;
  height: auto;
}
.about-page .why-choose-us-card .card .description {
  padding-top: 1rem;
}
.about-page .why-choose-us-card .card .description p {
  font-size: 0.9rem;
  text-align: center;
}
.about-page .why-choose-us-card .card .link a {
  color: #000;
  font-weight: 700;
}

/* About Page End */

/* Related Property Start */
.related-properties {
  padding: 1rem 0 3rem 0;
}
.related-properties .section-title {
  justify-content: flex-start;
}

.related-properties .section-title h1 {
  padding-top: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0;
}
.related-properties a {
  text-decoration: none;
}
.related-properties .card {
  background-color: #fff;
  position: relative;
  box-shadow: 0px 4px 26px 0px rgba(66, 71, 76, 0.0784313725);
  padding: 17px 17px 16px 17px;
  border: none;
  border-radius: 16px;
}

.related-properties .card .image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 1rem;
}

.related-properties .card .title h4 {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.related-properties .card .location {
  display: flex;
  align-items: center;
}

.related-properties .card .location h5 {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.related-properties .card .location .icon {
  color: #353232;
  margin-bottom: 0.35rem;
}

.related-properties .card .price h3 {
  color: var(--theme-yello-color);
  font-weight: 700;
  font-size: 1rem;
}

.related-properties .card .features {
  border-top: 1px solid #ddd;
}

.related-properties .card .features ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
}

.related-properties .card .features ul li {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 0.8rem;
}

.related-properties .card .features ul li p {
  margin-bottom: 0;
}
/* Related Property End */

@media only screen and (max-width: 767px) {
  .sidebar-menu {
    display: block;
    position: absolute;
    font-size: 2.5rem;
    left: 62%;
    top: 5%;
}
.header-area .logo {
  padding: 0.5rem 1rem;
}
  .header-area .nav-area {
    display: none;
  }
  .header-area .auth-area {
    display: none;
  }
  .home-banner-section {
    height: 480px;
    overflow: visible;
  }
  .home-banner-section .banner-image img {
    height: 450px;
  }
  .home-banner-section .banner-side-image img {
    top: 17rem;
    right: 0;
    width: 500px;
    height: 185px;
  }
  .home-banner-section .banner-content {
    top: 20%;
    left: 0;
  }
  .home-banner-section .banner-content .title {
    width: 85%;
    padding: 0 0 0 .5rem;
  }
  .home-banner-section .banner-content .title h1 {
    font-size: 1.4rem;
  }
  .home-banner-section .banner-content .sub-title {
    width: 90%;
    padding: 0 0 0 .5rem;
  }
  .home-banner-section .search-property-form form {
    height: auto;
  }
  .trending-properties-section {
    padding: 1rem .5rem 4rem .5rem;
}
.section-title h1 {
  font-size: 1.5rem;
}
.section-sub-title h5 {
  text-align: center;
}
.trending-properties-section .property-filter-tabs {
  margin-top: 1rem;
}
.trending-properties-section .property-filter-tabs ul{
  padding-left: 0;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 0;
}
.trending-properties-section .property-filter-tabs ul li {
  margin: 0 0 .4rem .4rem;
}
.footer {
  padding: 1rem .5rem .5rem .5rem;
}
.footer .footer-header {
  width: 100%;
}
.footer .footer-highlither-box .content h1 {
  font-size: 1.1rem;
}
.footer .footer-highlither-box .content h5 {
  font-size: .8rem;
}
}
